/* GENERAL */

* {
    @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
    font-family: 'Raleway', sans-serif;
    background-color:   #17426d  ;   /*  #1c3647   #959595   */
}

h1, h2, h3 {
    font-weight: normal;
    color: white;
}

/* LISTS */

ul {
    list-style: none;
}

/* NAVIGATION */

.navbar {
    position: inline;
    height: 0;
    padding: 2rem 1rem 3.5rem 1rem;
}
.navbar > .right {
    display: inline;
    float: right;
    font-size: large;
    color: white;
    text-decoration: none;
    margin: 0rem 1rem 0rem 1rem;
}
.navbar > .left {
    display: inline;
    float: left;
    font-size: large;
    color: white;
    text-decoration: none;
    margin: 0rem 1rem 0rem 1rem;
}
.navbar > *:hover {
    color: rgba(255, 255, 255, 0.5);
}

/* INDEX WELCOME*/

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    max-width: 800px;
}
.grid-item {
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.flex-item {
    display: flex;
    max-width: 300px;
    min-width: 1fr;
}

img {
    max-width: 100%;
}


.typewriter p {
    color: white;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(255, 94, 0); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
/* The typing effect */
    @keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
    @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 94, 0); }
}

h1:after {
    background: none repeat scroll 0 0 white;
    bottom: -1px;
    content: "";
    display: block;
    height: 0.1rem;
    position: relative;
    width: 22rem;
 }

 .tableText {
     color: white;
 }