/* GENERAL */

* {
  @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
  font-family: 'Raleway', sans-serif;
}

html,
body {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: normal;
  color: white;
  transform: rotate(-2deg);
  padding-left: 2rem;
}
h1:after {
  background: none repeat scroll 0 0 rgb(255, 94, 0);
  bottom: -1px;
  content: '';
  display: block;
  height: 0.1rem;
  position: relative;
  width: 22rem;
}
h2,
h3 {
  font-weight: normal;
  color: rgb(255, 94, 0);
}

p {
  font-size: larger;
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 5rem) {
  .background {
    /* TUT: https://edavis.github.io/2018/02/04/create-an-angled-background-in-css/ */
    background-image: linear-gradient(
      178deg,
      #1c3647 17rem,
      #294d64 calc(17rem + 5px)
    );
    width: 100%;
    min-height: 95vh;
  }

  .profile-image {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    /* margin-bottom: 3rem; */
  }

  .flex {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .flex-item {
    display: flex;
    margin-bottom: 2rem;
  }

  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
    padding: 2rem 1rem 3.5rem 1rem;
  }

  .navbar > .left,
  .navbar > .right {
    margin: 0.1rem;
    background-color: #294d64;
    border-radius: 0.4rem;
    padding: 0.3rem;
    text-decoration: none;
    color: white;
  }

  .navbar > *:hover {
    color: rgba(255, 255, 255, 0.5);
  }
}
@media (min-width: 45rem) {
  .background {
    /* TUT: https://edavis.github.io/2018/02/04/create-an-angled-background-in-css/ */
    background-image: linear-gradient(
      178deg,
      #1c3647 14rem,
      #294d64 calc(14rem + 5px)
    );
    width: 100%;
    min-height: 95vh;
  }

  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .flex-item {
    display: flex;
  }

  .profile-image {
    max-width: 400px;
    max-height: 400px;
    border-radius: 50%;
    /* margin-bottom: 3rem; */
  }

  .navbar {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 1rem 3.5rem 1rem;
  }
  .navbar > .right {
    font-size: large;
    color: white;
    text-decoration: none;
    font-size: larger;
    background-color: transparent;
  }
  .navbar > .left {
    margin-right: auto;
    font-size: large;
    color: white;
    text-decoration: none;
    font-size: larger;
    background-color: transparent;
  }
  .navbar > *:hover {
    color: rgba(255, 255, 255, 0.5);
  }
}

/* LISTS */

ul {
  list-style: none;
}

/* INDEX WELCOME*/

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  max-width: 800px;
}
.grid-item {
  margin-left: auto;
  margin-right: auto;
}

.profile {
  margin-top: 10rem;
}

.typewriter p {
  padding: 0 0 0 1.5rem;
  color: white;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgb(255, 94, 0); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 94, 0);
  }
}

/* SKILLS */

.tableText {
  color: white;
}

td {
  font-size: 1rem;
  margin: 0;
}

.build {
  display: flex;
  justify-content: center;
}

.skills {
  margin-top: 7rem;
}

.tool {
  margin-right: 70px;
}

/* PROJEKTE */

.card-image {
  max-width: 100%;
  margin: auto;
  cursor: pointer;
}

.descr {
  color: white;
}

.projekte {
  display: grid;
  justify-content: center;
  margin: auto;
}

.block {
  display: block;
  margin: auto 0;
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 700px;
  border: 1px solid white;
  padding: 1rem 2rem 1rem;
  border-radius: 3rem;
  margin: 1rem 0 1rem 0;
}

/* FOOTER */

.footer {
  background-color: #294d64;
  color: white;
  height: 5vh;
  padding-left: 1rem;
}

/* SOCIAL MEDIA */
/* GIT: #161b22 LINKEDIN: #56a5da */

.social {
  color: white;
}
.social:hover {
  opacity: 0.5;
}

/* INTERESSEN */

.freizeit {
  display: grid;
  justify-content: center;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.pictures > img {
  max-width: 500px;
  vertical-align: middle;
}

figcaption {
  color: white;
  text-align: center;
  background-color: #40657c;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 3px;
  margin: 0;
}

pictures > img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
