/* GENERAL */

* {
    @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
    font-family: 'Raleway', sans-serif;
    /* background-color:   #17426d  ;     #1c3647   #959595   */
}

html, body {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: normal;
    color: white;
    transform: rotate(-2deg);
    padding-left: 2rem;
}
h1:after {
    background: none repeat scroll 0 0 rgb(255, 94, 0);
    bottom: -1px;
    content: "";
    display: block;
    height: 0.1rem;
    position: relative;
    width: 22rem;
}
h2, h3 {
    font-weight: normal;
    color: white;
}

p {
    font-size: larger;
}

.background {    /* TUT: https://edavis.github.io/2018/02/04/create-an-angled-background-in-css/ */
    background-image: linear-gradient(178deg, #1c3647 11rem, #294d64 calc(11rem + 5px));
    width: 100%;
    min-height: 100vh;
}

/* LISTS */

ul {
    list-style: none;
}

/* NAVIGATION */

.navbar {
    position: inline;
    height: 0;
    padding: 2rem 1rem 3.5rem 1rem;
}
.navbar > .right {
    display: inline;
    float: right;
    font-size: large;
    color: white;
    text-decoration: none;
    margin: 0rem 1rem 0rem 1rem;
    font-size: larger;
}
.navbar > .left {
    display: inline;
    float: left;
    font-size: large;
    color: white;
    text-decoration: none;
    margin: 0rem 1rem 0rem 1rem;
    font-size: larger;
}
.navbar > *:hover {
    color: rgba(255, 255, 255, 0.5);
}

.navActive {
    color:rgb(255, 94, 0);
}

/* INDEX WELCOME*/

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    max-width: 800px;
}
.grid-item {
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.flex-item {
    display: flex;
    max-width: 300px;
    min-width: 1fr;
}

.profile-image {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 3rem;
}

.profile {
    margin-top: 10rem;
}


.typewriter p {
    padding: 0 1.5rem 0 1.5rem;
    color: white;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(255, 94, 0); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
/* The typing effect */
    @keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
    @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 94, 0); }
}

/* SKILLS */

.tableText {    
    color: white;
}

td {
    font-size: 1rem;
    margin: 0;

}

.build {
    display: flex;
    justify-content: center;
}

.skills {
    margin-top: 7rem;
}

.tool {
    margin-right: 70px;
}

/* PROJEKTE */

.card-image {
    max-width: 600px;
}

.descr {
    color: white;
}

.projekte {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.block {
    display: block;
}